<main class="container">
    
  <section class="card">
    <header class="card-head">
      <h1 class="card-title">Produits disponibles</h1>
    </header>

  <div style="
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    gap: 20px;">

    <div class="card">
      <h2 class="card-title">iPhone 0 promax</h2>
      <p class="card-subtitle">État impeccable, 0 </p>
      <p style="font-weight:bold; font-size:18px;">2099€</p>
      <div class="actions">
        <a class="btn-outline nav-link" href="#">Voir le produit</a>
      </div>
    </div>

    <div class="card">
      <h2 class="card-title">iPhone 0 promax</h2>
      <p class="card-subtitle">État impeccable, 0 </p>
      <p style="font-weight:bold; font-size:18px;">2099€</p>
      <div class="actions">
        <a class="btn-outline nav-link" href="#">Voir le produit</a>
      </div>
    </div>

    <div class="card">
      <h2 class="card-title">iPhone 0 promax</h2>
      <p class="card-subtitle">État impeccable, 0 </p>
      <p style="font-weight:bold; font-size:18px;">2099€</p>
      <div class="actions">
        <a class="btn-outline nav-link" href="#">Voir le produit</a>
      </div>
    </div>

    <div class="card">
      <h2 class="card-title">iPhone 0 promax</h2>
      <p class="card-subtitle">État impeccable, 0 </p>
      <p style="font-weight:bold; font-size:18px;">2099€</p>
      <div class="actions">
        <a class="btn-outline nav-link" href="#">Voir le produit</a>
      </div>
    </div>

  </div>
  </section>
</main>