<div class="container">

  <div class="card">
    <h2 class="card-title">Votre classement</h2>
    <p class="card-subtitle">
      IlvPoints : <strong>5</strong> • Position : <strong>#1</strong>
    </p>
  </div>

  <div class="card">
    <h2 class="card-title">Top 3 des utilisateurs</h2>

    <div class="table-container">
      <table class="ranking-table">
        <thead>
          <tr>
            <th>Pos.</th>
            <th>Utilisateur</th>
            <th>IlvPoints</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>#1</td>
            <td style="text-align: center;">
              <img src="pdp.png" class="profile-photo"><br>
                Sergio
              </td>
            <td>5</td>
          </tr>

          <tr>
            <td>#2</td>
            <td style="text-align: center;">
              <img src="pdp.png" class="profile-photo"><br>
                Charle
              </td>
            <td>4</td>
          </tr>

          <tr>
            <td>#3</td>
            <td style="text-align: center;">
              <img src="pdp.png" class="profile-photo"><br>
                Pecheur
              </td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>