<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Connection • Mon Site d’Événements</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header class="site-header">
    <div class="container header-row">
      <a class="brand" href="index.html" aria-label="Accueil">
        <img src="LOGO.png" alt="Logo du site" class="brand-logo">
        <span class="brand-title">Louvain-la-Vente 
</span>
      </a>

      <div class="search-container">
        <form class="search-form" role="search" aria-label="Rechercher un produit">
          <input type="search" class="search-input" placeholder="Rechercher des produits..." aria-label="Rechercher un produit" name="search">
        </form>
      </div>

      <div class="header-right">
        <nav class="site-nav" aria-label="Navigation principale">
          <a href="index.html" class="nav-link">Accueil</a>
          <a href="login.html" class="nav-link">Connexion</a>
          <a href="signup.html" class="nav-link">Inscription</a>
          <a href="profile.html" class="nav-link">Profile</a>
          <a href="annonce-creation.html" class="nav-link btn btn-outline">Créer une annonce</a>
        </nav>

        
      </div>
    </div>
  </header>

  <main class="container">
  <section class="card profile-card">

    <div class="card">
          <h2 class="card-title">iPhone 0 promax</h2>
          <p class="card-subtitle">État impeccable, 0 </p>
          <p style="font-weight:bold; font-size:18px;">2099€</p>
        
        </div>

    </div>

      <div class="field">
          <label for="desc" class="label">Commentaire</label>
          <textarea id="desc" name="Donner un avis" class="input input-area" ></textarea>
        </div>

        <div class="rating">
  <input type="radio" id="star5" name="rating" value="1" />
  <label for="star5">★</label>
  <input type="radio" id="star4" name="rating" value="2" />
  <label for="star4">★</label>
  <input type="radio" id="star3" name="rating" value="3" />
  <label for="star3">★</label>
  <input type="radio" id="star2" name="rating" value="4" />
  <label for="star2">★</label>
  <input type="radio" id="star1" name="rating" value="5" />
  <label for="star1">★</label>
</div>


      <div class="profile-actions">
        <button class="btn profile-logout">Publier</button>
      </div>

    </div>
  </section>
</main>
  
    </div>
</body>
</html>