<main class="container">
  <section class="card profile-card">

    <div class="profile-header">

      <div class="profile-header-info">
        <div class="profile-photo-wrapper">
        <img src="pdp.png" alt="Photo de profil" class="profile-photo">
        <div class="profile-shortcuts">
          <a href="historique_ventes.html" class="btn-outline">Mes ventes</a>
          <a href="historique_achat.html" class="btn-outline">Mes achats</a>
          <a href="ranking.html" class="btn-outline">Rank</a>
        </div>
        <h2 class="profile-username">Sergio</h2>
      </div>
      
      <p class="profile-points">llvPoints : +999</p>
        <div class="profile-stars">★★★★★</div>
        <div class="profile-balance">Solde : 5.00€</div>
      <button class="btn-outline">Ajouter des fonds</button>
      
      <div class="field">
        <label class="label">Modifier l’image</label>
        <input type="text" class="input" placeholder="Entrez l’URL de l’image">
      </div>
        
      </div>

    </div>

    <div class="profile-body">

      <div class="field">
        <label class="label">Modifier mot de passe</label>
        <input type="password" class="input" placeholder="Entrer un nouveau mot de passe">
      </div>

      <div class="profile-actions">

      <a class="brand" href="historique_ventes.html" aria-label="Accueil">
        <button class="btn-outline">Consulter ses ventes</button>
        </span>
      </a>

      <a class="brand" href="historique_achat.html" aria-label="Accueil">
        <button class="btn-outline">Consulter ses achats</button>
        </span>
      </a>

        <button class="btn profile-logout">Déconnexion</button>
      </div>

    </div>
  </section>
</main>