<main class="container">

  <section class="card">
    <header class="card-head">
      <h1 class="card-title">Mes historiques d'achats</h1>
    </header>

    <!-- Affiche les achats en utilisant le modèle -->
    <% for (let sell of sells) { %>
      <%- include('../partials/product-card', {sell: sell, origin: "purchase-history"}) %>
    <% } %>

    <!-- Si aucun achat -->
    <% if (sells.length == 0) { %>
      <p>Vous n'avez réaliser aucun achat pour l'instant.<p>
    <% } %>
    
  </section>
</main>