<main class="container">
  <section class="card">
    <header class="card-head">
      <h1 class="card-title">Modifier l'annonce</h1>
    </header>

    <form class="form">

      <div class="profile-header-info">
      <div class="profile-photo-wrapper">
      <img src="pdp.png" alt="Photo de profil" class="profile-dannonce">
      <div class="field">
      <label class="label">Modifier l’image</label>
      <input type="text" class="input" placeholder="Entrez l’URL de l’image">
    </div>
    </div>

      <div class="field">
        <label for="desc" class="label">Description</label>
        <textarea id="desc" name="description" class="input input-area" ></textarea>
      </div>

      <div class="field">
        <label for="addr" class="label">Prix</label>
        <input id="addr" type="text" name="adresse" class="input" placeholder="">
      </div>

      <div class="field">
        <label for="addr" class="label">Quantité</label>
        <input id="addr" type="text" name="adresse" class="input" placeholder="">
      </div>

      <div class="field">
        <label for="addr" class="label">Etat</label>
        <input id="addr" type="text" name="adresse" class="input" placeholder="">
      </div>

      <div class="field">
        <label for="addr" class="label">Catégorie</label>
        <input id="addr" type="text" name="adresse" class="input" placeholder="">
      </div>

      <div class="actions">
        <button class="btn" type="submit" disabled>Republier votre annonce </button>
      </div>
    </form>
  </section>
</main>

